<div class="modal-body">

	<div>
		<strong>WatchYourSales</strong>
		<button class="btn btn-default btn-sm pull-right" 
			x-ng-click="close($event)"><i class="fa fa-times"></i>
		</button>
	</div>
	<br/>	
	<ul class="list-group">
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, homeView)">
				<i class="fa fa-home"></i> Home
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/products')">
				Products
			</a>
			<a href="" x-ng-click="routeTo($event, '/stocks')" class="pull-right">
				Stocks
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/customers')"> 
				Customers
			</a>
		</li>	
		<li class="list-group-item">
				Customer &nbsp;&nbsp;
			<a href="" x-ng-click="routeTo($event, '/customerOrders')"> 
				Orders
			</a>
			<a href="" x-ng-click="routeTo($event, '/customerTrans')" class="pull-right"> 
				Transactions
			</a>
		</li>
		<!-- 	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/dealers')"> 
				Dealers
			</a>
		</li>	
		<li class="list-group-item">
				Dealer &nbsp;&nbsp;
			<a href="" x-ng-click="routeTo($event, '/dealerOrders')"> 
			 	Orders
			</a>
			<a href="" x-ng-click="routeTo($event, '/dealerTrans')" class="pull-right"> 
				Transactions
			</a>
		</li>
		-->	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/employees')"> 
				Employees
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/accounts')"> 
				Accounts
			</a>
			<!-- 
			<a href="" x-ng-click="routeTo($event, '/accountTrans')" class="pull-right"> 
				Transactions
			</a>
			-->
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/users')">
				Users
			</a>
			<a href="" x-ng-click="routeTo($event, '/agencys')" class="pull-right">
				Agencys
			</a>
		</li>	
	</ul>

</div>
