<div class="modal-body">

	<div>
		<strong>WatchYourSales</strong>
		<button class="btn btn-default btn-sm pull-right" 
			x-ng-click="close($event)"><i class="fa fa-times"></i>
		</button>
	</div>
	<br/>	
	<ul class="list-group">
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, homeView)">
				<i class="fa fa-home"></i> Home
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/counter')">
				Counter
			</a>
			<a href="" x-ng-click="routeTo($event, '/transfer')" class="pull-right">
				Transfer
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/products')">
				Products
			</a>
			<a href="" x-ng-click="routeTo($event, '/stocks')" class="pull-right">
				Stocks
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/customers')"> 
				Customers
			</a>
		</li>	
		<li class="list-group-item">
				Customer &nbsp;&nbsp;
			<a href="" x-ng-click="routeTo($event, '/customerOrders')"> 
				Orders
			</a>
			<a href="" x-ng-click="routeTo($event, '/customerOrderHistory')" class="pull-right"> 
				Order History
			</a>
		</li>
		<li class="list-group-item">
				Customer &nbsp;&nbsp;
			<a href="" x-ng-click="routeTo($event, '/customerTrans')" class="pull-right"> 
				Transactions
			</a>
		</li>
		<li class="list-group-item" x-ng-hide="sessionContext.sessionUser.isAppUser">
			<a href="" x-ng-click="routeTo($event, '/dealers')"> 
				Dealers
			</a>
		</li>	
		<li class="list-group-item">
				Dealer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" x-ng-click="routeTo($event, '/dealerOrders')"> 
			 	Orders
			</a>
			<a href="" x-ng-click="routeTo($event, '/dealerOrderHistory')" class="pull-right"> 
				Order History
			</a>
		</li>
		<li class="list-group-item">
				Dealer
			<a href="" x-ng-click="routeTo($event, '/dealerTrans')" class="pull-right"> 
			 	Transactions
			</a>
		</li>
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/ledgers')"> 
				Ledgers
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/ledger')">
				Ledger
			</a>
			<a href="" x-ng-click="routeTo($event, '/ledgerTrans')" class="pull-right"> 
				Transactions
			</a>
		</li>
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/trialBalance')"> 
				Trial Balance
			</a>
		</li>	
		<li class="list-group-item">
			<a href="" x-ng-click="routeTo($event, '/employees')"> 
				Employees
			</a>
		</li>	
	</ul>

</div>
