<br/>
<div class="jumbotron">
	<h1>WatchYourSales</h1>
	<p>An application to manage sales.</p>
	<p>
		<a class="btn btn-primary btn-lg" x-ng-href="#/signin">Get started now...</a>
	</p>
	<!-- 
	<div class="text-center">
		<button class="btn btn-success" x-ng-click="success()">Success</button>
		<button class="btn btn-info"    x-ng-click="info()">Info</button>
		<button class="btn btn-warning" x-ng-click="warning()">Warning</button>
		<button class="btn btn-danger"  x-ng-click="error()">Error</button>		
	</div>
	-->
</div>
