<!-- 
<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-md-2">
   			<label><small>Customer</small></label>
   			<select class="form-control input-sm" x-ng-model="model.customer"
   				x-ng-change='onCustomerChange()'
				x-ng-options="item.id + ' - ' + item.firstName for item in customers">
    		</select>
		</div>
	</div>
</div>
-->

<div class="panel panel-default">
	<div class="panel-heading text-center">
		<span class="pull-left">
			<button	type="button" class="btn btn-default btn-sm" 
				x-ng-disabled="model.items.length == 0"
				x-ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</span>
		&nbsp;
		<span class="pull-right">
			<button type="button" class="btn btn-default btn-sm"
				x-ng-disabled="true"
				x-ng-click="print()">
				<i class="fa fa-print"></i>
			</button>
		</span>
	</div>
	<table class="table table-condensed table-bordered table-striped">
	<thead>
	<tr>
		<th class="text-right" width="30">#</th>
	   	<th class="text-center"><small>Id</small></th>
	   	<th class="text-center"><small>Customer</small></th>
	   	<th class="text-center" width="160"><small>Ordered Time</small></th>
	   	<th class="text-center" width="160"><small>Updated Time</small></th>
	   	<th class="text-center" width="100"><small>Status</small></th>
	   	<th class="text-center"><small>Assigned To</small></th>
	   	<th class="text-center" width="100">&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<tr x-ng-repeat="item in model.items | orderBy : '-id'">
		<td class="text-right" width="40">
			{{$index+1}}
		</td>
		<td class="text-right">
			<a x-ng-href="#/customers/orders/orderReceipt/{{item.id}}">{{item.id}}</a>
		</td>
		<td>
			{{customersMap[item.forUserId].firstName}}
		</td>
		<td>
			{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}
		</td>
		<td>
			{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}
		</td>
		<td>
			{{item.status}}
		</td>
		<td>
			<select class="input-sm form-control" x-ng-model="item.byUser"
				x-ng-disabled="roleId == 'employee'"
				x-ng-change='assign(item)'
				x-ng-options="item.id + ' - ' + item.firstName for item in employees">
			</select>
		</td>
		<td class="text-center">
			<button type="button" class="btn btn-primary btn-sm"
				x-ng-disabled="item.isAcceptDisabled"
				x-ng-click="accept(item)">
				Accept
			</button>
		</td>
	</tr>
	</tbody>
	</table>
</div>

