<div class="panel panel-default">
	<div class="panel-heading text-center">
		<span class="pull-left">
			<button	class="btn btn-default"	x-ng-disabled="items.length == 0"
				x-ng-click="refresh()">
				<i class="fa fa-refresh"></i>
			</button>
		</span>
		&nbsp;
	</div>
	<table class="table table-condensed table-bordered table-striped">
	<thead>
	<tr>
		<th class="text-right" width="30">#</th>
		<th class="text-center"><small>Id</small></th>
	   	<th class="text-center"><small>Code</small></th>
	   	<th class="text-center"><small>Name</small></th>
	   	<th class="text-center"><small>Buy Rate</small></th>
	   	<th class="text-center"><small>Buy Percent</small></th>
	   	<th class="text-center"><small>Sell Rate</small></th>
	   	<th class="text-center"><small>Sell Percent</small></th>
	   	<th class="text-center"><small>Hand Stock</small></th>
	</tr>
	</thead>
	<tbody>
	<tr x-ng-repeat="item in items | filter : { type : 'product'}">
		<td class="text-right" width="40">
			{{$index+1}}
		</td>
		<td>
			{{item.id}}
		</td>
		<td>
			{{item.code}}
		</td>
		<td>
			{{item.name}}
		</td>
		<td class="text-right">
			{{item.buyRate}}
		</td>
		<td class="text-right">
			{{item.buyPercent}}
		</td>
		<td class="text-right">
			{{item.sellRate}}
		</td>
		<td class="text-right">
			{{item.sellPercent}}
		</td>
		<td class="text-right">
			{{item.handStock | number : 2}}
		</td>
	</tr>
	</tbody>
	<tfoot x-ng-show="searchResults.hasItems">
	<tr>
		<td>&nbsp;</td>
		<td colspan="6">
			<buttton class="btn btn-info btn-block"	
				x-ng-click="loadMore()">
				Load More
			</buttton>
		</td>
		<td>&nbsp;</td>
	</tr>	
	</tfoot>
	</table>
</div>
