<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
<title>WatchYourSales - Dev Console</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="assets/fontawesome/css/font-awesome.min.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body x-ng-clock>

<br/>

<div class="row">
	<div class="col-md-2 text-center">
		<strong>WatchYourSales Console</strong>
	</div>
	<div class="col-md-10 text-center">
		<a href="_ah/admin/" class="btn btn-default">Google Datastore</a>
		&nbsp;&nbsp;
		<a href="index-m.html" class="btn btn-default">Tablet/Mobile</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="index-d.html" class="btn btn-default">Destop/Tablet</a>
		&nbsp;&nbsp;
		<button class="btn btn-default"
			x-ng-click="execute('/ping')">Ping</button>
		&nbsp;&nbsp;
		<button class="btn btn-default"
			x-ng-click="execute('/info')">Info</button>
		&nbsp;&nbsp;
		<button class="btn btn-default"
			x-ng-click="execute('/sessions/properties')">Session Properties</button>
		&nbsp;&nbsp;
		<button class="btn btn-default" 
			x-ng-click="execute('/system/reset')">Reset</button> 
		&nbsp;&nbsp;
		<button class="btn btn-default"
			x-ng-click="execute('/system/clear')">Clear</button>
		&nbsp;&nbsp;
		<button class="btn btn-default"
			x-ng-click="execute('/system/clearTransactions')">Clear Transactions</button>
	</div>
</div>

<hr/>

<div>
	<div class="col-md-6">

		<div class="form-group">
			<label><small>Agency JSON</small></label>
			<select class="form-control" x-ng-model="agency" 
				x-ng-change="onAgencyChange()"
				x-ng-options="item.name for item in agencys">
			</select>
		</div>
	
		<tabset justified="true">

    		<tab>
      			<tab-heading>
        			Create Agency Via JSON 						
        			<button class="btn btn-primary btn-xs pull-right" 
						x-ng-click="saveAgencyMaster()">Save</button>
      			</tab-heading>
  				<div>
  					<br/>
					<textarea class="form-control" rows="20" 
						x-ng-model="agency.json">
					</textarea>
					<!-- 
				 	<pre>{{agency.value | json}}</pre>
				 	-->	
				</div>
    		</tab>

    		<tab>
      			<tab-heading>
        			Create Agency Transactions Via JSON
        			<button class="btn btn-primary btn-xs pull-right" 
						x-ng-click="saveAgencyTrans()">Save</button>
      			</tab-heading>
  				<div>
  					<br/>
					<textarea class="form-control" rows="20" 
						x-ng-model="agency.jsonTran">
					</textarea>
				</div>
    		</tab>
		</tabset>
  
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">Response Message</div>
			<div class="panel-body">
				<pre>{{message}}</pre>
			</div>
		</div>
	</div>
	
</div>


<script type="text/javascript"
	src="assets/lodash.min.js"></script>
<script type="text/javascript" 
	src="assets/moment.min.js"></script>
<script type="text/javascript" 
	src="assets/jquery.min.js"></script>
<script type="text/javascript" 
	src="assets/holder.js"></script>
	
<script type="text/javascript"
	src="assets/angularjs/angular.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-route.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-sanitize.js"></script>

<script type="text/javascript" 
	src="assets/ngStorage.min.js"></script>
	
<script type="text/javascript" 
	src="assets/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>

<script type="text/javascript" src="modules/init.js"></script>
<script type="text/javascript" src="modules/wydNotify/wydNotifyByBootstrap.js"></script>

<script type="text/javascript" src="modules/home/indexController.js"></script>

<script type="text/javascript" src="modules/common.js"></script>
<script type="text/javascript" src="modules/main-g.js"></script>

</body>
</html>