<html lang="en" class="no-js" x-ng-app="app" x-ng-csp x-ng-controller="rootController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<link rel="stylesheet" href="material/index-m.css" />
</head>

<body layout="column">

<md-toolbar layout="row">
   	<button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
       	<span class="md-visually-hidden">Menu</span>
    </button>
    <h1 class="md-toolbar-tools">Watch Your Sales</h1>
    <h3 class="md-toolbar-tools">{{viewName}}</h1>
    <!-- 
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Favorite">
    	<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
	</md-button>
	<md-button class="md-icon-button" aria-label="More">
		<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
	</md-button>
	-->     
</md-toolbar>

<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" 
    	md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<md-list>
      		<md-list-item ng-repeat="item in menuItems">
          		<md-button ng-href="#{{item.url}}" 
          			ng-class="{'md-primary' : item.url == curLocPath }">
            		{{item.text}}
          		</md-button>
      		</md-list-item>
    	</md-list>    	
    	<!-- 
    	<ul x-ng-hide="isLoggedIn">
    		<li><a href="#/index">Home</a></li>
       		<li><a href="#/signIn">Sign In</a></li>
     	</ul>
    	<ul x-ng-show="isLoggedIn">
    		<li><a href="#/home">Home</a></li>
    		<li><a href="#/customerOrder">Orders</a></li>
    		<li><a href="#/customerTrans">Transactions</a></li>
    		<li><a href="#/stocks">Stocks</a></li>
    		<li><a href="#/products">Products</a></li>
    		<li><a href="#/customers">Customers</a></li>
       		<li><a href="#/signOut">Sign Out</a></li>
     	</ul>
     	-->
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
        	<ng-view></ng-view>
        </md-content>
    </div>
</div>
    
<script type="text/javascript"
	src="assets/lodash.min.js"></script>
<script type="text/javascript" 
	src="assets/moment.min.js"></script>
<script type="text/javascript" 
	src="assets/jquery.min.js"></script>

<script type="text/javascript"
	src="assets/angularjs/angular.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-route.js"></script>
<script type="text/javascript"
	src="assets/angularjs/angular-sanitize.js"></script>
<script type="text/javascript" 
	src="assets/angularjs/angular-animate.min.js"></script>
<script type="text/javascript" 
	src="assets/angularjs/angular-aria.min.js"></script>
<script type="text/javascript" 
	src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
<script type="text/javascript" 
	src="assets/ngStorage.min.js"></script>

<script type="text/javascript" src="modules/init.js"></script>

<script type="text/javascript" src="material/modules/product/controller.js"></script>

<script type="text/javascript" src="material/modules/stock/controller.js"></script>

<script type="text/javascript" src="material/modules/customer/controller.js"></script>
<script type="text/javascript" src="material/modules/customer/order/controller.js"></script>
<script type="text/javascript" src="material/modules/customer/tran/controller.js"></script>

<script type="text/javascript" src="material/modules/trialBalance/controller.js"></script>

<script type="text/javascript" src="material/modules/home/indexController.js"></script>
<script type="text/javascript" src="material/modules/home/homeController.js"></script>

<script type="text/javascript" src="material/modules/session/loginController-dev.js"></script>
<script type="text/javascript" src="material/modules/session/logoutController.js"></script>

<script type="text/javascript" src="material/index-m.js"></script>
	
</body>
</htm>